<!doctype html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>后台管理</title>
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
</head>
<body>
    <?=view('common/top')?>
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="/jscss/admin/design/">首页</a><span class="crumb-step">&gt;</span><a class="crumb-name" href="/jscss/admin/design/">作品管理</a><span class="crumb-step">&gt;</span><span>新增作品</span></div>
        </div>
        <div class="result-wrap">
            <div class="result-content">
                <form action="/goods/insert" method="post" id="myform" name="myform" enctype="multipart/form-data">
                    <table class="insert-tab" width="100%">
                        <tbody>
                            <tr>
                                <th width="120"><i class="require-red">*</i>分类：</th>
                                <td>
                                    <select name="cla1" id="catid1" class="required">
                                        <option value="">请选择</option>
                                        <?php foreach($data as $k=>$v): ?>
                                        <option value="<?=$v['id']?>"><?=$v['name']?></option>
                                        <?php endforeach; ?>
                                    </select>
                                    <select name="cla2" id="catid2" class="required">
                                        <option value="">请选择</option>
                                    </select>
                                    <select name="cla3" id="catid3" class="required">
                                        <option value="">请选择</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>标题：</th>
                                <td>
                                    <input class="common-text required" id="title" name="title" size="50" value="" type="text">
                                </td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>缩略图：</th>
                                <td>
                                    <input type="button" id="btn-img" value="添加图片"><br>
                                    <input class="preview" name="image[]" id="" type="file"><br></td>
                            </tr>
                            <tr>
                                <th>内容：</th>
                                <td><textarea name="content" class="common-textarea" id="content" cols="30" style="width: 98%;" rows="10"></textarea></td>
                            </tr>
                            <tr>
                                <th></th>
                                <td>
                                    <input class="btn btn-primary btn6 mr10" value="提交" type="submit">
                                    <input class="btn btn6" onClick="history.go(-1)" value="返回" type="button">
                                </td>
                            </tr>
                        </tbody></table>
                </form>
            </div>
        </div>

    </div>
    <!--/main-->
</div>
</body>
</html>
<script src="/js/jquery.min.js"></script>
<script src="/js/img_preview.js"></script>

<script>
var attrStr = `<div><input class="preview" name="image[]" id="" type="file">
<input onclick="del_attr(this)" type="button" value="删除"><br></div>`;
$("#btn-img").click(function(){
    $(this).parent().append(attrStr)
        // 绑定预览事件
        $(".preview").change(function(){
        // 获取选择的图片
        var file = this.files[0];
        // 转成字符串
        var str = getObjectUrl(file);
        // 先删除上一个
        $(this).prev('.img_preview').remove();
        // 在框的前面放一个图片
        $(this).before("<div class='img_preview'><img src='"+str+"' width='120' height='120'></div>");
    });
});

function del_attr(o)
{
    if(confirm("确定要删除吗？"))
    {
        var table = $(o).parent()
        table.remove()
    }
    
}
// 三级联动
$("select[name=cla1]").change(function(){
    var id = $(this).val()
    if(id!=""){
        $.ajax({
            type:"GET",
            url:"/goods/ajax_get_cat?id="+id,
            dataType:"json",
            success:function(data){
                var str = "";
                for(var i=0;i<data.data.length;i++){
                    str +='<option value="'+data.data[i].id+'">'+data.data[i].name+'</option>';
                }
                $("select[name=cla2]").html(str)
                $("select[name=cla2]").trigger('change');

            }
        });
    }
});
$("select[name=cla2]").change(function(){
    var id = $(this).val()
    if(id!=""){
        $.ajax({
            type:"GET",
            url:"/goods/ajax_get_cat?id="+id,
            dataType:"json",
            success:function(data){
                var str = "";
                for(var i=0;i<data.data.length;i++){
                    str +='<option value="'+data.data[i].id+'">'+data.data[i].name+'</option>';
                }
                $("select[name=cla3]").html(str)
            }
        });
    }
});
</script>